.header_container {
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 1px;
}
#header {
    background-color: var(--brand1);
}
.header_content {
    height: 65px;
}
.logo {
    height: 100%;
    display: flex;
    align-items: center;
}
.logo img {
    height: 30px;
}
/* ------------------------------------------------------------------------nav-------------------------------------------------------------- */
#nav {
    background-color: var(--brand1);
    height: 49px;
}
.nav_container {
    width: 1280px;
    margin: 0 auto;
}
.nav_content {
    color: var(--w);
}
.nav_list {
    display: flex;
}
.nav_list li{
    display: flex;
    font-size: 20px;
    margin: 0 10px;
    line-height: 49px;
    position: relative;
}
/* ------------------------------------------------blank----------------------------------------------------------------------------------- */
.blank {
    background-color: #F8F8F8;
    height: 295px;
    margin-bottom: 30px;
}
/* --------------------------------------------------big news---------------------------------------------------------------------------- */
.big_news {
    margin-bottom: 25px;
}
.big_news_img img {
    width: 100%;
}
.big_news_content h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.big_news_content p {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 20px;
}
.big_news_content span {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
}
.big_news_content .linked_news {
    font-size: 19px;
    margin-bottom: 5px;
    position: relative;
    line-height: 50px;
    font-weight: 600;
    color: var(--black);
}
.big_news_content .linked_news::before {
    position: absolute;
    content: "";
    top: 0;
    height: 2px;
    width: 100%;
    background-color: var(--row);

}

/* ------------------------------------------------------------news------------------------------------------------------------------------- */
.short_news {
    padding-bottom: 25px;
}
.s_news_body {
    
}
.s_news_body .s_news_img {

}
.s_news_body .s_news_img img {
    width: 100%;
    
}
.s_news_body .s_news_content h4 {
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.p_light_black {
    color: var(--light_b);
}
.s_news_body .s_news_content span {
    line-height: 30px;
    font-size: 18px;
    
}
/*------------------------------------------------corona----------------------------------------------------------------------*/
#corona{
    margin-bottom: 25px;
}
.title {}
.title .title_name {
   margin-bottom: 35px; 
}
.title .title_name h4 {
    font-size: 28px;
    font-weight: 400;
    color: var(--p);
    position: relative;
}
.title .title_name h4::before {
    content: "";
    position: absolute;
    bottom: 50%;
    right: 0;
    height: 1px;
    width: 86%;
    background-color: var(--title_row);
}
/* ------------------------------------------------audio and video-------------------------------------------------------- */
#big_video h1 {
    color: var(--light_b);
}

/* ----------------------------------------------------single news---------------------------------------------------------------- */
.single_news {
    margin-bottom: 40px;
}
.single_news .single_news_img img {
    width: 100%;
}
.single_news .single_news_content h2 {
    font-weight: bold;
}
.single_news .single_news_content p {
    font-size: 20px;
}
.single_news .single_news_content span {
    font-size: 20px;
}
/* ------------------------------------------number------------------------------------------------------------------------------ */
.news_number_content li {
    display: flex;
    list-style: none;
}
.news_number_content li p {
    font-size: 60px;
    color: var(--brand1);
    font-weight: bold;
}
.news_number_content li h4 {
    display: flex;
    align-items: center;
    vertical-align:top;
    font-size: 28px;
    font-weight: 600;
    margin-left: 20px;
}
/* ---------------------------------------------------footer------------------------------------------------------------------------------ */
#footer {
    width: 100%;
}
.f_top {
    background-color: var(--brand1) !important;
}
.footer_container {
    width: 1300px;
    margin: 0 auto;
    
}
.footer_logo {
    height: 50px;
    display: flex;
    align-items: center;
}
.f_body {
    background-color: var(--black);
    
}
.f_body h3 {
    font-size: 24px !important;
}
.footer_logo img {
    height: 25px;
}
.f_body h3 {
    color: white;
}
.body_top {
    color: white;
    padding-top: 25px;
}
.body_top {
    
}
.body_middle h3 {
    padding-top: 10px;
}
.body_bottom h3 {
    color: white !important;
    padding: 10px 0;
}
hr {
    color: white;
}
/* ---------------------------------------hover---------------------------------------------------- */
h1:hover,
h2:hover,
h3:hover,
.s_news_body h4:hover,
.news_number_content h4:hover,
h5:hover,
h6:hover
{
    text-decoration: underline;
    cursor: pointer;
}
img {
    cursor: pointer;
}
.nav_list li:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    height: 5px;
    width: 145%;
}